# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Builds / output
.expo/
dist/
web-build/
coverage/
playwright-report/
public/storybook/
storyboard-static/
storybook-static/

# Large/generated data
harvest_output/
*.db
*.webm

# Expo
tmp/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
